{% extends 'talks/base.html' %}

{% block content %}
<!-- .header-bottom-wrapper -->
<div class="header-bottom-wrapper">
    <div class="container">
        <div class="row">
            <!-- Page Head -->
            <div class="page-head col-lg-12">
                <h2 class="page-title">Gallery</h2>
            </div>
            <!-- End Page Head -->
        </div>
    </div>
</div><!-- End of .header-bottom-wrapper -->

<!-- page-container -->
<div class="page-container container">

    <!-- Gallery Filter -->

    <div id="gallery-container">
        <div class="row gallery-4-columns isotope clearfix">
		{% for choice in album_choice %}
            <div class="gallery-item isotope-item issues  col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <figure>
                    <div class="media_container"></div>
					<img src="{{choice.image.url}}" alt="{{choice.title}}" width="346px" height="200px">
                </figure>
				<h5 class="item-title"><a href="{% url 'photo_list' pk=choice.pk %}" title="{{choice.title}}">{{choice.title}}</a></h5>
            </div>
		{% endfor %}
        </div>
    </div>

</div><!-- End of .page-container -->

{% endblock %}
